* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    background: #1c4fa1;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.topbar-container {
    max-width: 1200px;
    margin: auto;
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.socials i {
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.socials i:hover {
    opacity: 0.7;
}

.socials a {
    color: white;
    text-decoration: none;
}

.socials a:visited {
    color: white;
}


.phone-info a {
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    text-decoration: none;
}

.phone-info i {
    font-size: 16px;
}

.header {
    position: sticky;
    top: 0;
    background: rgba(253, 249, 253);
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
    z-index: 999;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 1px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 135px;
}


.nav a {
    position: relative;
    text-decoration: none;
    color: #1c4fa1;
    font-weight: 600;
    margin: 0 22px;
    padding-bottom: 6px;
    transition: color 0.25s ease;
}

.nav a:hover {
    color: #d71920;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: #f36c21;
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 100%;
}

.whatsapp {
    background: #25D366;
    color: white;
    padding: 10px 18px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.whatsapp1 {
    color: white;
    padding: 10px 18px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {

    .container {
        flex-direction: column;
        gap: 10px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        margin: 8px 0;
    }

    .whatsapp {
        margin-top: 8px;
    }
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.login-btn {
    color: white;
    padding: 10px 18px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}